.LoginSignUpContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 0%;
    left: 0;
  }
  
  .LoginSignUpBox {
    background-color: white;
    width: 25vw;
    height: 80vh;
    box-sizing: border-box;
    overflow: hidden;
  }
 
 
  
  .LoginSignUpBox > div > button {
    background-color: rgb(252, 188, 27);
    height: 3px;
    width: 50%;
    border: none;
    transition: all 0.5s;
  }
  
  .loginForm,
  .signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 1vmax;
    justify-content: space-evenly;
    height: 90%;
    transition: all 0.5s;
  }
  
  
  
  .loginForm > div,
  .signUpForm > div {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .loginForm > div > input,
  .signUpForm > div > input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
  }
  
  
  
  .loginForm > a {
    color: rgba(0, 0, 0, 0.651);
    text-decoration: none;
    align-self: flex-end;
    transition: all 0.5s;
    font: 500 0.8vmax "Gill Sans";
  }
  
  .loginForm > a:hover {
    color: black;
  }

  .loginBtn,
  .signUpBtn {
    border: none;
    background-color: rgb(255, 183, 14);
    color: white;
    font: 300 0.9vmax "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  }
  
  .loginBtn:hover,
  .signUpBtn:hover {
    background-color: rgb(179, 66, 46);
  }
  

  .shiftToNeutralForm {
    transform: translateX(0%) translateY(-100%);
  }
  
  .shiftToRight {
    transform: translateX(100%);
  }
  
  @media screen and (max-width: 600px) {
    .LoginSignUpContainer {
      background-color: white;
    }
    .LoginSignUpBox {
      width: 100vw;
      height: 95vh;
    }
    
  
    .loginForm,
    .signUpForm {
      padding: 4vmax;
    }
  
    .loginForm > div > input,
    .signUpForm > div > input {
      padding: 2.5vmax 5vmax;
      font: 300 1.7vmax cursive;
    }
  
  
  
    .loginForm > a {
      font: 500 1.8vmax "Gill Sans";
    }
  
    #registerImage > img {
      width: 8vmax;
      border-radius: 100%;
    }
  
  
    .loginBtn,
    .signUpBtn {
      font: 300 1.9vmax "Roboto";
      padding: 1.8vmax;
    }
  }