body{
  background-color: #e0e3ce45 !important ;

}
.navbar{
  background-color: rgb(13 14 11 / 85%)  !important;
}


.navbar-nav{
  margin-right: 2rem;

}

.nav-item{
  padding: 2.5px;
  margin: 0 5px 0 5px;
  font-size: 20px;
  font-weight: 400;
  
}

.nav-link{
  color:  #f9d99fde   !important;

}


.carousel-item {
  height: 91vh;
  min-height: 300px;
  margin-bottom: 30px;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(112, 105, 105, 0.6) 0%,
    rgba(248, 232, 232, 0.6) 100%
  ) !important;
}
.carousel-item img {
  opacity: 0.8;
  width: 100%;
  object-fit: cover;
}

.carousel-item .carousel-caption {
  margin-bottom: 150px;
  opacity: 1 !important;
}

.divider-container{
  width: "40%";
   margin: "auto" 
}

@media screen and (min-width: 600px) {
  .divider-container{
    width: "30%";
   
  }
}